absl-py==0.8.1
astor==0.8.0
bleach==3.1.4
Click==7.0
Flask==1.1.1
gast==0.3.2
grpcio==1.24.3
guesslang==0.9.3
gunicorn==19.9.0
html5lib==0.9999999
itsdangerous==1.1.0
Jinja2==2.10.3
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.17.3
protobuf==3.10.0
six==1.12.0
tensorboard==1.6.0
tensorflow==2.4.0
termcolor==1.1.0
Werkzeug==0.16.0
Flask-Cors==3.0.8